<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rigister User</title>
</head>
<body>
    <form action="registUser/" method="post">
        用戶名 : <input type="text" name="name" value=""/>
        <hr/>
        密碼 : <input type="text" name="passwd" value=""/>
        <hr/>
        性別 : <input type="radio" name="sex" value="1"/>俊男
        <input type="radio" name="sex" value="0"/>美女
        <hr/>
        年齡 : <input type="text" name="age" value=""/>
        <hr/>
        所屬部門 : <input type="radio" name="dept" value="Game"/>遊戲部
        <input type="radio" name="dept" value="Sleep"/>睡覺部
        <input type="radio" name="dept" value="Sales"/>銷售部
        <input type="radio" name="dept" value="Entertainment"/>娛樂部
        <hr/>
        興趣 : <input type="checkbox" name="hobby" value="power"/>權力
        <input type="checkbox" name="hobby" value="money"/>金錢
        <input type="checkbox" name="hobby" value="bitch"/>美女
        <hr/>
        <input type="submit" value="註冊">
    </form>
</body>
</html>